.artists-section {
    background-color: #F0F0F0;
    padding: 10px 25px 10px 25px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.artists-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #212121;
}

.all-albums-link {
    margin-left: 20px;
    font-size: x-large;
}

.artists-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 1%;
    row-gap: 2rem;
}

.no-artists-message {
    color: #212121;
}

.no-albums-message-error {
    color: #942828;
}

.all-albums-link-small {
    color: #212121;
}
