.records-title-header {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: start;
}

.records-title-image {
    height: 128px;
    width: 128px;
}

.records-title {
    color: #212121;
    font-weight: bold;
    margin-left: 10px;
    font-variant: small-caps;
}