.albums-section {
    background-color: #F0F0F0;
    padding: 10px 25px 10px 25px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.albums-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all-artists-link {
    margin-left: 20px;
    font-size: x-large;
}

.albums-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 1%;
    row-gap: 1%;
}