.albums-section {
    background-color: #F0F0F0;
    padding: 10px 25px 10px 25px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.albums-section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #212121;
    background-color: #F0F0F0;
    margin-bottom: 20px;
    position: sticky;
    z-index: 900;
    top: 150px;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 8px 6px -6px black;
}

.albums-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 1%;
    row-gap: 1%;
}

.no-albums-message {
    color: #212121;
}

.no-albums-message-error {
    color: #942828;
}
