@if (condensed && finalAlbum !== undefined) {
    <div class="album-section" [class]="albumClass">
        <img class="album-cd-image" [src]="albumImageSrc" />
        <div class="album-details">
            <div class="album-details-first-line">
                <a [routerLink]="['/artists', finalAlbum.artistId, finalAlbum.albumId]">
                    <span class="album-name">{{ finalAlbum.albumName }}</span>
                </a>
                @if (finalAlbum.availableOnStreaming) {
                    <div class="album-streaming">
                        <img class="album-streaming-image" src="./assets/streaming/spotify.png" />
                        <img class="album-streaming-image" src="./assets/streaming/apple-music.png" />
                        <img class="album-streaming-image" src="./assets/streaming/amazon-music.png" />
                    </div>
                }
            </div>
            @if (showArtistName) {
                <div class="album-details-second-line">
                    <a [routerLink]="['/artists', finalAlbum.artistId]">
                        <b>{{ finalAlbum.artistName }}</b>
                    </a>
                </div>
            }
            <div class="album-details-third-line">
                <span class="album-year-label"><b>{{ finalAlbum.recordLabel + ' (' + finalAlbum.publicationYear + ')' }}</b></span>
            </div>
            <div class="album-details-fourth-line">
                <span><b>{{ finalAlbum.albumsSold | number }} albums sold</b></span>
                <img class="album-cert-image" [title]="albumCertImageDesc" [src]="albumCertImageSrc" />
            </div>
            <div class="album-details-fifth-line">
                <span><b><i>Num Tracks: </i></b>{{ finalAlbum.numberOfTracks }}</span>
                <span><b><i>, Num Singles: </i></b>{{ finalAlbum.numberOfSingles }}</span>
            </div>
        </div>
    </div>
} @else if (finalAlbum !== undefined) {
    <div class="album-full-section">
        <div style="display: flex; flex-direction: column;">
            <img class="album-cd-image-large" [src]="albumImageSrc" />
            <a class="artists-link" routerLink="/artists">All Artists</a>
        </div>
        <div class="album-details">
            <div class="album-name-large">{{ finalAlbum.albumName }}</div>
            @if (finalAlbum.availableOnStreaming) {
                <div class="album-details-streaming-line">
                    <span style="margin-right: 5px;">Streaming on</span>
                    <div class="album-streaming">
                        <img class="album-streaming-image" src="./assets/streaming/spotify.png" />
                        <img class="album-streaming-image" src="./assets/streaming/apple-music.png" />
                        <img class="album-streaming-image" src="./assets/streaming/amazon-music.png" />
                    </div>
                </div>
            }
            <a [routerLink]="['/artists', finalAlbum.artistId]" class="album-details-line-space">
                <b>{{ finalAlbum.artistName }}</b>
            </a>
            <div class="album-year-label space"><b>{{ finalAlbum.recordLabel + ' (' + finalAlbum.publicationYear + ')' }}</b></div>
            <div class="album-details-line-space"><b>{{ finalAlbum.albumsSold | number }} albums sold</b></div>
            <div class="album-details-line-space">
                <span><b><i>Number of Tracks: </i></b>{{ finalAlbum.numberOfTracks }}</span>
                <span><b><i>, Number of Singles: </i></b>{{ finalAlbum.numberOfSingles }}</span>
            </div>
            <div class="album-details-cert-line">
                <img class="album-cert-image-large" [src]="albumCertImageSrc" />
                <span class="album-details-cert-text"><b>{{ albumCertImageDesc }}</b></span>
            </div>
        </div>
    </div>
}
