@let albumObj = finalAlbum();
@let errorMsg = albumErrorMsg();
@if (condensed && albumObj !== undefined) {
    <div class="album-section" [class]="albumClass">
        <div class="album-image-section">
            <img class="album-cd-image" [src]="albumImageSrc" />
        </div>
        <div class="album-details">
            <div class="album-details-first-line">
                <a [routerLink]="['/artists', albumObj.artistId, albumObj.albumId]">
                    <span class="album-name">{{ albumObj.albumName }}</span>
                </a>
                @if (albumObj.availableOnStreaming) {
                    <div class="album-streaming">
                        <img class="album-streaming-image" src="./assets/streaming/spotify.png" />
                        <img class="album-streaming-image" src="./assets/streaming/apple-music.png" />
                        <img class="album-streaming-image" src="./assets/streaming/amazon-music.png" />
                    </div>
                }
            </div>
            @if (showArtistName) {
                <div class="album-details-second-line">
                    <a [routerLink]="['/artists', albumObj.artistId]">
                        <b>{{ albumObj.artistName }}</b>
                    </a>
                </div>
            }
            <div class="album-details-third-line">
                <span class="album-year-label"><b>{{ albumObj.recordLabel + ' (' + albumObj.publicationYear + ')' }}</b></span>
            </div>
            <div class="album-details-fourth-line">
                <span><b>{{ albumObj.albumsSold | number }} albums sold</b></span>
                <img class="album-cert-image" [title]="albumCertImageDesc" [src]="albumCertImageSrc" />
            </div>
            <div class="album-details-fifth-line">
                <span><b><i>Num Tracks: </i></b>{{ albumObj.numberOfTracks }}</span>
                <span><b><i>, Num Singles: </i></b>{{ albumObj.numberOfSingles }}</span>
            </div>
            @if (showActions) {
                <div class="button-row-condensed">
                    <button class="delete-album-button-condensed" (click)="useDeleteOnArtist ? deleteAlbumOnArtist() : deleteAlbum()">Delete Album</button>
                </div>
            }
        </div>
    </div>
} @else if (albumObj !== undefined) {
    <div class="album-full-section">
        <div style="display: flex; flex-direction: column;">
            <img class="album-cd-image-large" [src]="albumImageSrc" />
            <div class="button-row">
                <button class="delete-album-button" (click)="deleteAlbum()">Delete Album</button>
            </div>
        </div>
        <div class="album-details">
            <div class="album-name-large">{{ albumObj.albumName }}</div>
            @if (albumObj.availableOnStreaming) {
                <div class="album-details-streaming-line">
                    <span style="margin-right: 5px;">Streaming on</span>
                    <div class="album-streaming">
                        <img class="album-streaming-image" src="./assets/streaming/spotify.png" />
                        <img class="album-streaming-image" src="./assets/streaming/apple-music.png" />
                        <img class="album-streaming-image" src="./assets/streaming/amazon-music.png" />
                    </div>
                </div>
            }
            <a [routerLink]="['/artists', albumObj.artistId]" class="album-details-line-space">
                <b>{{ albumObj.artistName }}</b>
            </a>
            <div class="album-year-label space"><b>{{ albumObj.recordLabel + ' (' + albumObj.publicationYear + ')' }}</b></div>
            <div class="album-details-line-space"><b>{{ albumObj.albumsSold | number }} albums sold</b></div>
            <div class="album-details-line-space">
                <span><b><i>Number of Tracks: </i></b>{{ albumObj.numberOfTracks }}</span>
                <span><b><i>, Number of Singles: </i></b>{{ albumObj.numberOfSingles }}</span>
            </div>
            <div class="album-details-cert-line">
                <img class="album-cert-image-large" [src]="albumCertImageSrc" />
                <span class="album-details-cert-text"><b>{{ albumCertImageDesc }}</b></span>
            </div>
        </div>
    </div>
} @else if (show404Img()) {
    <div class="album-not-found-image">
        <img class="album-not-found-image" src="./assets/404/albumNotFound.png" />
        <h2 class="album-not-found-message">Album Id {{ '(' + this.albumId + ')' }} and Artist Id {{ '(' + this.artistId + ')' }} wasn't found!!</h2>                    
    </div>
} @else if (errorMsg !== '') {
    <h2 class="album-not-found-message">There was a Server Error trying to find Album Id {{ '(' + this.albumId + ')' }} and Artist Id {{ '(' + this.artistId + ')' }}!!</h2>
    <h3 class="album-not-found-message">{{ errorMsg }}</h3>  
}
