@let albumObj = finalAlbum();
@if (condensed && albumObj !== undefined) {
    <div class="album-section" [class]="albumClass">
        <img class="album-cd-image" [src]="albumImageSrc" />
        <div class="album-details">
            <div class="album-details-first-line">
                <a [routerLink]="['/artists', albumObj.artistId, albumObj.albumId]">
                    <span class="album-name">{{ albumObj.albumName }}</span>
                </a>
                @if (albumObj.availableOnStreaming) {
                    <div class="album-streaming">
                        <img class="album-streaming-image" src="./assets/streaming/spotify.png" />
                        <img class="album-streaming-image" src="./assets/streaming/apple-music.png" />
                        <img class="album-streaming-image" src="./assets/streaming/amazon-music.png" />
                    </div>
                }
            </div>
            @if (showArtistName) {
                <div class="album-details-second-line">
                    <a [routerLink]="['/artists', albumObj.artistId]">
                        <b>{{ albumObj.artistName }}</b>
                    </a>
                </div>
            }
            <div class="album-details-third-line">
                <span class="album-year-label"><b>{{ albumObj.recordLabel + ' (' + albumObj.publicationYear + ')' }}</b></span>
            </div>
            <div class="album-details-fourth-line">
                <span><b>{{ albumObj.albumsSold | number }} albums sold</b></span>
                <img class="album-cert-image" [title]="albumCertImageDesc" [src]="albumCertImageSrc" />
            </div>
            <div class="album-details-fifth-line">
                <span><b><i>Num Tracks: </i></b>{{ albumObj.numberOfTracks }}</span>
                <span><b><i>, Num Singles: </i></b>{{ albumObj.numberOfSingles }}</span>
            </div>
        </div>
    </div>
} @else if (albumObj !== undefined) {
    <div class="album-full-section">
        <div style="display: flex; flex-direction: column;">
            <img class="album-cd-image-large" [src]="albumImageSrc" />
            <span class="artists-and-albums-links">
                <a class="artists-link" routerLink="/artists">All Artists</a>
                <a class="albums-link" routerLink="/albums">All Albums</a>
            </span>
        </div>
        <div class="album-details">
            <div class="album-name-large">{{ albumObj.albumName }}</div>
            @if (albumObj.availableOnStreaming) {
                <div class="album-details-streaming-line">
                    <span style="margin-right: 5px;">Streaming on</span>
                    <div class="album-streaming">
                        <img class="album-streaming-image" src="./assets/streaming/spotify.png" />
                        <img class="album-streaming-image" src="./assets/streaming/apple-music.png" />
                        <img class="album-streaming-image" src="./assets/streaming/amazon-music.png" />
                    </div>
                </div>
            }
            <a [routerLink]="['/artists', albumObj.artistId]" class="album-details-line-space">
                <b>{{ albumObj.artistName }}</b>
            </a>
            <div class="album-year-label space"><b>{{ albumObj.recordLabel + ' (' + albumObj.publicationYear + ')' }}</b></div>
            <div class="album-details-line-space"><b>{{ albumObj.albumsSold | number }} albums sold</b></div>
            <div class="album-details-line-space">
                <span><b><i>Number of Tracks: </i></b>{{ albumObj.numberOfTracks }}</span>
                <span><b><i>, Number of Singles: </i></b>{{ albumObj.numberOfSingles }}</span>
            </div>
            <div class="album-details-cert-line">
                <img class="album-cert-image-large" [src]="albumCertImageSrc" />
                <span class="album-details-cert-text"><b>{{ albumCertImageDesc }}</b></span>
            </div>
        </div>
    </div>
}
