.album-section {
    padding: 10px 25px 10px 25px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.album-section.dark {
    background-color: #9E9E9E;
}

.album-section.light {
    background-color: #EFEFEF;
}

.album-section.darker {
    background-color: #9E9E9E;
    border-radius: 10px 10px 10px 10px;
}

.album-full-section {
    padding: 25px 25px 25px 25px;
    background-color: #9E9E9E;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    flex-direction: row;
    align-items: start;
    font-size: larger;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.album-cd-image {
    width: 96px;
    height: 96px;
    margin-right: 20px;
    border-radius: 48px 48px 48px 48px;
}

.album-cd-image-large {
    width: 384px;
    height: 384px;
    margin-right: 25px;
    border-radius: 15px 15px 15px 15px;
}

.album-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.album-details-first-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.album-name {
    font-weight: 700;
    font-size: x-large;
}

.album-name-large {
    font-weight: bolder;
    font-size: xx-large;
    font-variant: small-caps;
    margin-bottom: 10px;
}

.album-year-label {
    font-style: italic;
    color: #212121;
}

.album-year-label.space {
    margin-bottom: 5px;
}

.album-streaming {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.album-streaming-image {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.album-details-second-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.album-details-third-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.album-details-fourth-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.album-cert-image {
    height: 32px;
    margin-left: 10px;
}

.album-cert-image-large {
    height: 64px;
    margin-right: 10px;
}

.album-details-fifth-line {
    display: flex;
    flex-direction: row;
}

.album-details-cert-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.album-details-streaming-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.album-details-cert-text {
    font-size: x-large;
    margin-bottom: 5px;
}

.album-details-line-space {
    margin-bottom: 5px;
}

.album-not-found-image {
    display: flex;
    flex-direction: column;
    margin: 15px 5px 5px 5px;
}

.album-not-found-image {
    width: 750px;
    height: 500px;
}

.album-not-found-message {
    color: #942828;
    margin-left: 5px;
    margin-bottom: 10px;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.delete-album-button {
    border-color: #EFEFEF;
    border-width: 0px;
    border-radius: 4px 4px 4px 4px;
    background-color: #942828;
    color: #EFEFEF;
    font-weight: bold;
    font-variant: small-caps;
    font-size: larger;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
}

.album-image-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.button-row-condensed {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.delete-album-button-condensed {
    border-color: #EFEFEF;
    border-width: 0px;
    border-radius: 2px 2px 2px 2px;
    background-color: #942828;
    color: #EFEFEF;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    margin-top: 5px;
}
